.verification {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.verificate__header {
  margin-top: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #0dc46e;
}

.verificate__text {
  width: 612px;
  height: 60px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #777d88;
}

.verificate__content {
  margin-top: 100px;
}

.verificate__content input {
  margin-bottom: 30px;
  padding-left: 15px;
  width: 480px;
  height: 48px;
  background: rgba(229, 229, 229, 0.19);
  border: 0.5px solid #d9dadb;
  border-radius: 10px;
}

.verificate__content p {
  display: flex;
  align-items: justify;
  margin-left: 470px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1f2833;
}

.verificate__button button {
  margin-top: 80px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  width: 230px;
  height: 50px;
  background: #0dc46e;
  border-radius: 10px;
}
