.profflex {
  display: flex;
  justify-content: center;
  padding-left: 600px;
}

.profContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}
.imgWork1 {
 text-align: center;
 align-items: center;
 justify-content: center;
  width: 129px;
  height: 129px;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.57);
}

.header1{
display: flex;
justify-content: center;
padding-left: 650px;
width: 200px;
}
.div1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.div2 {
display: flex;


  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.div3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
